*{
    margin :0;
    padding:0;
    box-sizing: border-box;
    font-family: verdana;
}
:root{
    --primary-color: rgb(238, 114, 26);
}
header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color:white;
    top: 0;
}

.logo{
    font-weight: 600px;
}
ul{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

ul, li{
    list-style:none;
    gap: 40px;
}
li a{
    text-decoration:none;
    color: black;
}
li a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}

.nav-button{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: small;
}
.nav-button:hover{
    background-color: gray;
}
/*=====HOME-SECTION=====*/
section{
    height: 100vh;
    width: 100%;
}
.home-section{
    margin-top: 45px;
    height: 80vh;
    width: 100%;
    background-color:rgb(239, 210, 188);
}
.container-1{
    display: flex;
    flex-direction: row;
    width:100% ;
    height: 100%;
}

.box-1{
    border: none;
    width: 50%;
    background-image: url(images/image\ one.png);
}

.box-2{
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.box-A button{
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 20px;
    color: white;
    border-radius: 300px;
    border: none;
    width: 250px;
}
.box-A button:hover{
    background-color: gray;
}
.text-1{
    font-size: 3rem;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

.section-2{
    width: 100%;
    height: 90vh;
}
.container-2{
    display: flex;
    width: 100%;
    height: 100%;
}
#box-1{
    width: 50%;
    height: 100%;
    padding-left: 60px;
}
#box-1 h1{
    margin-top: 34px;
    font-weight: bold;
    margin-bottom: 30px;
}
#box-2{
    width: 50%;
    height: 100%;
    padding-right: 60px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#box-2 button{
    background-color: var(--primary-color);
    font-size: 1rem;
    padding: 20px;
    color: white;
    border-radius: 300px;
    border: none;
    width: 250px;
    margin-top: 30px;
}
#box-2 button:hover{
    background-color: gray;
}
#box-2 p{
    font-size: 15px;
}
ol li{
    list-style: square;
}
.image{
    border: 2pxsolid black;
    width:600px;
    height: 400px;
    background-color: black;
    border-top-right-radius:10% ;
    border-top-left-radius: 10%;
    border-bottom-right-radius:10% ;
    border-bottom-left-radius: 10%;
}
.image img{
    width: 100%;
    object-fit: cover;
    border-top-right-radius:10% ;
    border-top-left-radius: 10%;
    border-bottom-right-radius:10% ;
    border-bottom-left-radius: 10%;
    height: 100%;    
}

.section-3{
    height: 180vh;
    background-color: blanchedalmond;
    padding-top: 20px;
}
.cont{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 0 0 50%;
    flex-wrap: wrap;
    gap: 30px;
}
.cont div{
    width: 40%;
    height: 400px;
    background-color:white ;
    border-top-right-radius:10% ;
    border-top-left-radius: 10%;
    border-bottom-right-radius:10% ;
    border-bottom-left-radius: 10%;
}
.cont div img{
    width: 100%;
    object-fit: cover;
    border-top-right-radius:10% ;
    border-top-left-radius: 10%;
    border-bottom-right-radius:0% ;
    border-bottom-left-radius: 0%;
    height: 70%; 
}

.form {
    background-color: aqua;
    width: 400px;
    height: 450px;
    border-radius: 34px;
    margin-left:45px;
}
form{
    width: 400px ;
    height: 100%;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: green;
    border-radius: 34px;
}
form button{
    margin-top: 10px;
    width: 300px;
    padding: 7px;
    border-radius: 34px;
    background-color: orangered;
    color: white;
}
form button:hover{
    background-color: orange;
}
form input{
    width: 300px;
}
form textarea{
    width: 300px;
}
.cont-1 h3{
    margin-left: 45px;
    margin-top: 45px;
    font-size: 3rem;
    font-weight: 700;
}
.cont-1{
    width: 100%;
    display: flex;
}
.cont-1 div{
    width: 50%;
}

.cont-2 {
    width: 100%;
    background-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0 0 50%;
    gap: 10px;
}
.cont-2 div{
    width: 100px;
    height: 100px;
    background-color: blue;
    flex: 0 0  50%;
}